@charset "UTF-8";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

  .bg-6 {
      background-color: rgb(211,211,211);
      padding-top: 100px;
      padding-bottom: 100px;
  }